.destination-card-container {
    border: green solid 1px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.destination-card-container img {
    width: 90%;
}